* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

:root {
    --text-color: white;
    --main-height: 700px;
}

body {
    background-color: gray;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    ;
    background-color: #2a607c;
    color: var(--text-color);
}

header h1 {
    display: inline-block;
}

header nav {
    float: right;
    margin: 15px;
}

header nav li {
    display: inline-block;
    margin: 0px 20px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: right;
    height: var(--main-height);
    width: 25%;
    border: solid;
    border-radius: 5px;
    margin: 15px;
}

.aboutme h2 {
    display: flex;
    height: 60px;
    width: 95%;
    margin: 5px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 5px;
    margin-left: 10px;
}

.aboutme p {
    display: flex;
    margin: 10px;
    overflow-wrap: break-word;
    font-size: 16px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--main-height);
    width: 70%;
    border-radius: 5px;
    margin: 5px;
    flex-wrap: wrap;
}

.bigProject {
    display: flex;
    height: calc(var(--main-height)/2);
    width: 100%;
}

.regProject {
    display: flex;
    height: calc(var(--main-height)/4);
    width: calc(var(--main-height)/4);
    margin: 10px;
}

h3{
    position: absolute;
}

.bigProject img {
    height: calc(var(--main-height)/2);
    width: 100%;
}

.regProject img {
    height: calc(var(--main-height)/4);
    width: calc(var(--main-height)/4);
}